<!-- auth-layout.component.html -->
<p-toast></p-toast>
<div class="container" [ngClass]="{ 'sign-up-mode': !showLogin }">

  <div class="forms-container">
    <div class="signin-signup">

      <!-- Inject components here -->

      <form class="sign-in-form" (ngSubmit)="login()" [class.loading]="loading">
        <!-- <h2 class="title">Sign in</h2> -->
        <div class="welcome-heading">
          <i class="fas fa-sign-in-alt" style="font-size: 32px;color: #3f51b5;margin-bottom: 5px;"></i>
          <h2>Hello There</h2>
          <p>Welcome Back! You've been Missed</p>
        </div>
        <div class="input-field">
          <i class="fas fa-user icon-align"></i>
          <input type="text" name="email" [(ngModel)]="email" placeholder="Email" />
        </div>
        
        <div class="input-field  password-field">
          <i class="fas fa-lock icon-align"></i>
          <input  [attr.type]="showPassword ? 'text' : 'password'" 
           name="password"
           [(ngModel)]="password"
            placeholder="Password"
           />

            <i class="fa-solid password-toggle"
              [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePassword() ">
            </i>
        </div>
        <button type="submit" class="btn" [disabled]="loading">
          <span *ngIf="!loading">Login</span>

          <span *ngIf="loading">
            <i class="fas fa-spinner fa-spin"></i> Loading...
          </span>
        </button>

        <p class="social-text">Or Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon facebook" aria-label="Login with Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon twiiter" aria-label="Login with Twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon google" aria-label="Login with Google"><i class="fab fa-google"></i></a>
          <a href="#" class="social-icon linkedin" aria-label="Login with LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>


      <!-- Sign Up Form -->
      <form (ngSubmit)="register()" class="sign-up-form"  [class.loading]="loading">

        <div class="welcome-heading">
          <i class="fas fa-user-plus" style="font-size: 32px;color: #3f51b5;margin-bottom: 5px;"></i>
          <h2>Get Started</h2>
          <p>Lets create an account for you</p>
        </div>
        
        <div class="input-field">
          <i class="fas fa-user icon-align"></i>
          <input type="text" placeholder="Username" [(ngModel)]="username" name="username" required />
        </div>
        
        <div class="input-field">
          <i class="fas fa-envelope icon-align"></i>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required />
        </div>

        <div class="input-field">
          <i class="fas fa-lock icon-align"></i>
          <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
        </div>
        
        <button type="submit" class="btn" [disabled]="loading">
          <span *ngIf="!loading">Sign up</span>

          <span *ngIf="loading">
            <i class="fas fa-spinner fa-spin"></i> Loading...
          </span>
        </button>

        <p class="social-text">Or Sign up with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon" aria-label="Login with Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon" aria-label="Login with Twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon" aria-label="Login with Google"><i class="fab fa-google"></i></a>
          <a href="#" class="social-icon" aria-label="Login with LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </form>

    </div>
  </div>

  <div class="panels-container">

    <!-- Left Panel -->
    <div class="panel left-panel">
      <div class="content">
        <h3>New here?</h3>
        <p>Get connected with us by signing up with your personal info and starting your journey with us.</p>
        <button class="btn transparent" (click)="toggleForm()">Sign up</button>
      </div>
      <img src="images/login.svg" class="image" alt="Login Image" width="500" height="400" />
    </div>

    <!-- Right Panel -->
    <div class="panel right-panel">
      <div class="content">
        <h3>One of us?</h3>
        <p>If you already have an account, just sign in. We've missed you!</p>
        <button class="btn transparent" (click)="toggleForm()">Sign in</button>
      </div>
      <img src="images/reg.svg" class="image" alt="Register Image" />
    </div>

  </div>

</div>